@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto:wght@100&display=swap');

html{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F4E2B7; 
    background-image: url(../imagens/fundo_mobile.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
h1{
    font-family: "Finger Paint";
    text-align: center;
    font-size: 40px;
    color: #001E40;
}
.txt_historia{
    font-size: 20px;
    font-family: "Finger Paint";
    text-align: center;
    background-color: rgba(0, 0, 0, 0.44);
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #F4E2B7;
    color: #F4E2B7;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
}
.box-Container{
    text-align: center;
    position: relative;
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
}
#btnLancarDado, #btnVoltar{
    font-family: "Finger Paint";
    color: #F4E2B7;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.44);    
    font-size: 17px;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    border-color: #F4E2B7;
    color: #F4E2B7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
#displayNumber {
    display: none;
    visibility: hidden;
}
#btnVoltar{
    padding: 15px;
    font-size: 20px;
}
#btnContinuar.off {
    font-family: "Finger Paint";
    text-align: center;
    font-size: 17px;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: not-allowed; 
    background-color: rgba(0, 0, 0, 0.44);    
    color: #F4E2B7;
    border-color: #F4E2B7;
    opacity: 0.5; 
}
#btnContinuar.on {
    font-family: "Finger Paint";
    text-align: center;
    font-size: 17px;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer; 
    background-color: rgba(0, 0, 0, 0.44);    
    color: #F4E2B7;
    border-color: #F4E2B7;
    opacity: 1;
}
#img_finalA{
    width: 80%;
    padding-top: 20px;
}

@media (min-width: 500px) {


}
